@import "../../styles.scss";

:host {
    --font-size: 12px;
    --font-family: 'Montserrat';

    font-family: var(--font-family);
    font-size: var(--font-size) !important;
}

.wrapper {
    margin: 0;
    padding: 0;

    padding-bottom: 3rem;
}

.resume-container {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;

    border-radius: 10px;
    box-shadow: 5px 5px 10px -2px $shadow-100;

    max-width: 70%;

    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    background-color: rgba(255, 255, 255, 0.863);
}

.title-container {
    text-align: center;
    padding-bottom: 1.5rem;
}

.name-header {
    padding: 0;
    margin: auto;
}

.subtitle-header {
    margin-top: -1rem;
}

.category-title {
    font-weight: bold;
}

.job-container {
    padding: 0;
    margin-top: -1.25rem;
}

.job-title {
    font-weight: bold;
}

.years-worked {
    font-style: italic;
}

.accomplishments-list {
    padding: auto;
    margin-top: 0.5rem;
}

.skills-list {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.skills-list li {
    padding-bottom: 0.5rem;
}

.skill-title {
    font-weight: bold;
}

.skill-content {
    padding: 0;
    margin: auto;
}

.education-title {
    font-weight: bold;
}

.education-description {
    padding: 0;
    margin: auto;
}