<div class="wrapper">
    <div class="resume-container">
        <div class="title-container">
            <div class="name-header">
                <h1>Ryan Mulnick</h1>
            </div>
            <div class="subtitle-header">
                <p>mulnickr&#64;gmail.com | linkedin/ryan-mulnick | rmulnick.dev</p>
            </div>
        </div>

        <div class="resume-body">
            <div class="job-container">
                <div class="category-title">WORK EXPERIENCE</div>
                <hr>

                <span class="job-title">Software Engineer</span> | <span class="years-worked">2021 - 2023</span>
                <br><span class="company-title">Wells Fargo (NTT Data)</span>
                <ul class="accomplishments-list">
                    <li>
                        Utilized Java Spring Framework and GraphQL to develop a new microservice enhancing user
                        experience
                        for
                        millions of customers in the FARGO App.
                    </li>
                    <li>
                        Maintained a "learn-by-doing" mentality while building the new microservice from the ground up
                        including
                        providing key insights for initial design decisions, implementing the service in Java with
                        Spring
                        Framework, and ensuring smooth deployments with Jenkins and uDeploy.
                    </li>
                    <li>
                        Raised and successfully merged dozens of Pull Requests for feature updates and bug fixes
                        throughout
                        the
                        Online Banking project.
                    </li>
                    <li>
                        Pushed hundreds of Git commits to achieve 100% JUnit test coverage during Java version,
                        framework,
                        and
                        tools migrations.
                    </li>
                    <li>
                        Established reputation as key point-of-contact for local environment setup using Windows CLI and
                        Gradle/Maven build tools for Java.
                    </li>
                    <li>
                        Worked within an Agile environment with strict deadlines, code reviews, and Jira task
                        management.
                    </li>
                </ul>
            </div>
            <br>

            <div class="job-container">
                <span class="job-title">Data Analyst</span> | <span class="years-worked">2020</span>
                <br><span class="company-title">Direct Chassis Link, Inc.</span>
                <ul class="accomplishments-list">
                    <li>
                        Improved accuracy and cleanliness of data and data sources for truck chassis tracking.
                    </li>
                    <li>
                        Efficiently utilized in-house software to correct missing, invalid, or incorrect entries.
                    </li>
                </ul>
            </div>
            <br>

            <div class="job-container">
                <span class="job-title">Data Analyst Intern</span> | <span class="years-worked">2019</span>
                <br><span class="company-title">W.H. Advisory</span>
                <ul class="accomplishments-list">
                    <li>
                        Scraped multi-family loan data from Freddie Mac and Fannie Mae websites.
                    </li>
                    <li>
                        Verified cleanliness of data via Excel; ensured no missing or incorrect records prior to SQL
                        database
                        upload.
                    </li>
                    <li>
                        Enabled analytics team through data entry via advanced Excel functionality including
                        modification
                        and
                        creation of VBA scripts.
                    </li>
                </ul>
            </div>

            <br>
            <div class="category-title">EDUCATION</div>
            <hr>
            <span class="education-title">University of North Carolina at Charlotte</span>
            <br>
            <span class="education-description">Bachelor of Science in Computer Science, Minor in Economics |
            </span><span class="years-worked">2019</span>

            <br>
            <br>

            <div class="category-title">CERTIFICATIONS</div>
            <hr>
            <span class="education-title">AWS Certified Cloud Practitioner</span>
            <br>
            <span class="education-description">Amazon Web Services (AWS) | </span><span class="years-worked">2024 -
                2027</span>


            <br><br>
            <div class="job-container">
                <br>
                <div class="category-title">PROJECTS</div>
                <hr>

                <span class="job-title">Portfolio Website</span> | <span class="years-worked">2024 - Present</span>
                <br><span class="company-title"><a href="https://rmulnick.dev/">rmulnick.dev</a></span>
                <ul class="accomplishments-list">
                    <li>
                        Designed and implemented a containerized RESTful API with Golang to manage user accounts and
                        actions, as well as database connections with Google Firestore for user and blog post data
                        storage.
                    </li>
                    <li>
                        Deployed the backend Docker container on Google Cloud Run, forwarding to a personal subdomain.
                    </li>
                    <li>
                        Designed the front end with Angular 17, TypeScript, and SCSS for a simple, modern website.
                    </li>
                    <li>
                        Continuing to learn security best practices for user authentication with JWT and general API
                        security.
                    </li>
                </ul>
            </div>

            <div class="category-title">SKILLS</div>
            <hr>
            <ul class="skills-list">
                <li>
                    <span class="skill-title">Technical Skills: </span><span class="skill-content">Software Development,
                        Version Control (Git), Unit Testing, Integration Testing, Debugging, SQL Query Design
                    </span>
                </li>
                <li>
                    <span class=skill-title>Techniques: </span><span class="skill-content">Software Design,
                        Microservices, API Development, Software and API Testing
                    </span>
                </li>
                <li>
                    <span class=skill-title>Languages and Frameworks: </span><span class="skill-content">Java (Spring
                        Boot), Golang (Gin), Python (FastAPI, Flask), API Data Transfer (GraphQL, JSON)
                    </span>
                </li>
                <li>
                    <span class=skill-title>Testing: </span><span class="skill-content">Behavior Driven Development
                        (BDD): Karate, Cucumber; Test Driven Development (JUnit, pytest), API and Integration Testing
                        (Selenium, Postman)
                    </span>
                </li>
                <li>
                    <span class=skill-title>CI/CD Tools: </span><span class="skill-content">Git, Jenkins, uDeploy,
                        Docker, AWS and Google Cloud Services
                    </span>
                </li>
                <li>
                    <span class=skill-title>Databases: </span><span class="skill-content">SQL (MySQL, PostgreSQL), NoSQL
                        (MongoDB, Firestore)
                    </span>
                </li>
            </ul>

        </div>


    </div>
</div>