@import "../../styles.scss";

a {
    text-decoration: underline;
    color: white;
}

.wrapper {
    margin: auto;
    margin-top: 15%;
}

@media screen and (max-width: 430px) {
    .wrapper {
        margin-top: 50%;
    }
}

.content {
    margin: auto;
    margin-top: 40px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    justify-content: center;
    overflow: hidden;
}

.links img {
    filter: drop-shadow(0px 100px 0 $primary-300);
    transform: translateY(-100px);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    text-align: center;

    padding: 1.5rem;
    margin: auto;

    border-radius: 10px;
    box-shadow: 5px 5px 15px -5px $surface-mixed-100;

    width: 55%;
    height: 45%;

    background-color: $surface-300;
    color: $text-light;
}

.avatar {
    position: absolute;
    z-index: 1000;

    margin-top: -50px;
    left: calc(50% - 50px);

    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-color: $surface-mixed-200;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}