<div class="wrapper">

    <div class="description">
        <div class="avatar">
            <img src="../../assets/Avatar.png" alt="Avatar">
        </div>
        <div class="content">
            Hi, I'm Ryan!
            <br><br>

            Most of my free time these days is spent developing fun side projects and playing guitar. My work experience
            so far is fairly brief, so I am eager to learn as much as possible and
            grow into a long-term career in Software Development.
            <br><br>

            Check out the other pages to learn more about me or <a
                href="https://calendly.com/mulnickr/30-minute-meeting-clone" target="_blank"
                rel="noreferrer noopener">contact me</a>!
        </div>

        <div class="links">
            <span><a href="https://www.linkedin.com/in/ryan-mulnick/" target="_blank" rel="noreferrer noopener"><img
                        src="../../assets/linkedin.png" width="25px" height="25px"></a></span>
            <span class="github"><a href="https://github.com/mulnickr" target="_blank" rel="noreferrer noopener"><img
                        src="../../assets/github.png" width="25px" height="25px"></a></span>
        </div>
    </div>
</div>